@page "/friends"
@attribute [Authorize]


<h3>Stay connected with your friends in the friends flow!</h3>


<br />
<hr />

<div class="main-post-feed">

    @if (LoggedInUser?.Friends?.Count > 0)
    {

        <Virtualize ItemsProvider="LoadPostsPaged" ItemSize="250" @ref="PostVirtualizer">
            <ItemContent>

                <PostCardComponent Post="@context" />

            </ItemContent>

            <Placeholder>

                <div class="card text-white bg-dark mb-3 col-6" style="max-width: 36rem;">
                    <div class="card-header">Loading...</div>
                    <div class="card-body">
                        <h5 class="card-title">Loading ...</h5>
                        <p class="card-text">Please wait while we are fetching things from the server!</p>
                    </div>
                </div>

            </Placeholder>
        </Virtualize>
    }
    else
    {
        <p>Oops, it looks like you don't have any friends yet :(</p>
    }
</div>
